table {
    overflow:hidden;
    th, td {
      padding:.25em .5em;
      text-align:left;
      vertical-align:top;
    }
    th {
      background-color:rgb(129, 176, 160);
      color:#fff;
    }
    td {
      background-color:#eee;
    }
  }

body {
    align-items: center;
    text-align: center;
}

td:hover {
    background-color:rgb(129, 176, 160);
}